

<div style="display: flex; justify-content:space-around; margin-top:20px">
  <button type="button" class="btn btn-danger" (click)="navigatoAdd()">Add new meal</button>
</div>
<main class="container-fluid">
  <app-meals></app-meals>

</main>

