<h4>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand">Calories Tracker</a>
  </nav>
</h4>
<main class="container-fluid">
  <router-outlet></router-outlet>

</main>

