<div class="row mt-2">
  <div class="col-6">
    <h4>{{isEdit ? 'Edit meal' : 'Add new meal' }}</h4>

    <form (ngSubmit)="saveMeal()" #f="ngForm">
      <div class="form-group">
        <select
          name="mealType"
          id="mealType"
          class="form-control"
          ngModel
        ><option ></option>
          <option value="Breakfast">Breakfast</option>
          <option value="Snack">Snack</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          ngModel
        ></textarea>
      </div>
      <div class="form-group">
        <label for="cal">Calories</label>
        <input
          type="text"
          name="cal"
          id="cal"
          class="form-control"
          ngModel
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled] = 'isUploading'

      >  <span *ngIf="!isUploading">
         {{isEdit? 'Edit': 'Create'}}
        </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>

