<div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ meal.mealType  }} </h5>
        <p class="card-text small">{{ meal.description }}</p>
        <div class="card-text">{{ meal.cal }} kCal</div>
        <button (click)="onRemove(meal.id)">Delete</button>
       <button [routerLink]="[meal.id]" style="margin-left: 20px">Edit</button>
      </div>
</div>
